/* BARRA DE NAVERAÇÃO SUPERIOR */
.topnav {
    display: flex;
    background-color: #981C1E;
    justify-content: space-between; /* SEPARA AS DUAS CLASSES ABAIXO */
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.navegacao { /* BOTÕES DA ESQUERDA */
    display: flex;
    gap: 5px;
}
.menu { /* BOTÕES DA DIREITA */
    display: flex;
    gap: 5px;
}
.menu-container {
    position: relative;
}
.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}
@media (max-width: 600px) {
    .menu {
      display: none;
      position: absolute;
      right: 0;
      top: 40px;
      background: #444;
      flex-direction: column;
      padding: 5px;
      width:100px;
      box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }
    .menu.show {
      display: flex;
    }
    .menu-toggle {
      display: block;
    }
}
.topnav a { /* BOTÕES DA BARRA DE NAVEGAÇÃO SUPERIOR */
    background-color: #981C1E;
    text-decoration: none;
    color: black;
    border: none;
    padding: 15px 6px;
    border-radius: none;
    display: inline-block;
}
.topnav a:hover {
    background-color: #981C7E;
}
/*-------------------------------*/
