.card {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #a04d4e;
  border-radius: 6px;
  padding: 10px;
  color: white;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.imagemPadrao {
  background-color: #dc3545;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 12px;
  color: white;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.imagem:hover {
  background-color: #c82333;
  transform: scale(1.05);
}

.habilidade {
  width: 100%;
}

.campo {
    display: flex;
    align-items: center; /* alinha verticalmente */
    gap: 10px; /* espaçamento entre label e input */
    width: 100%;
}

.campoInput {
    display: flex;
    align-items: center; /* alinha verticalmente */
    gap: 10px; /* espaçamento entre label e input */

}

.inputInfo {
    width: 40px;
}

.campo input,
.campo select {
  width: 100%;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 3px;
  resize: none;
  margin: 5px;
}

button.remover {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button.remover:hover {
  background-color: #c82333;
  transform: scale(1.05);
}

button.remover:active {
  transform: scale(0.95);
}

.modal {
    display: none; /* Escondido por padrão */
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
}

.modal-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

textarea {
    width: 100%;
}

.poppup {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.poppup:hover {
  background-color: #c82333;
  transform: scale(1.05);
}

.poppup:active {
  transform: scale(0.95);
}

.inputCampo {
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #ccc;
  resize: vertical;
  width: 100%; /* ocupa todo o campo */
  height: 100%;
  box-sizing: border-box;
  resize: none;
}