/* Layout da barra de menu principal */
.topnav {
    display: flex;
    background-color: #981C1E;
    justify-content: space-between; /* Separa NAVEGAÇÃO e MENU */
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Botões da esquerda */
.navegacao { 
    display: flex;
    gap: 5px;
}

/* Botões da direita */
.menu { 
    display: center;
    gap: 5px;
}

/* Layout do menu hambunguer */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

/* Layout dos botões */
.topnav a { 
    background-color: #981C1E;
    text-decoration: none;
    color: white;
    border: none;
    padding: 15px 6px;
    border-radius: none;
    display: inline-block;
}

/* Quando o mouse estiver em cima */
.topnav a:hover {
    background-color: #82181a;
}

/* Resposividade da barra de navegação */
@media (max-width: 600px) { /* Quando ele vai ativar  */
    .menu {
      display: none;
      position: absolute;
      right: 0;
      top: 40px;
      background: #444;
      flex-direction: column;
      padding: 5px;
      width:100px;
      box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }
    .menu.show {
      display: flex;
    }
    .menu-toggle {
      display: block;
    }
}