/* Layout da barra de menu principal */
.topnav {
    display: flex;
    background-color: #981C1E;
    justify-content: space-between; /* Separa NAVEGAÇÃO e MENU */
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Botões da esquerda */
.navegacao { 
    display: flex;
    gap: 5px;
}

/* Botões da direita */
.menu { 
    display: center;
    gap: 5px;
}

/* Layout do menu hambunguer */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

/* Layout do menu hambunguer */
.menu-info {
    background-color: #981C1E;
    text-decoration: none;
    color: white;
    border: none;
    padding: 5px;
    border-radius: none;
    display: inline-block;
    font-size: 16px;
}

.menu-info a:hover {
    background-color: #82181a;
}

/* Layout do menu hambunguer */
.menu-infor {
    display: none; /* Escondido por padrão */
    position: absolute; /* Sai do fluxo da barra */
    top: 40px; /* Distância do topo (ajuste para onde você quer que apareça) */
    left: 200px; /* Distância da esquerda */
    background: #444; /* Cor de fundo para destacar */
    padding: 5px;
    border-radius: 6px;
    flex-direction: column;
    gap: 5px;
}

.menu-infor.show {
    display: flex; /* Ou block, dependendo de como você quer mostrar */
}

/* Layout dos botões */
.botaoNav { 
    background-color: #981C1E;
    text-decoration: none;
    color: white;
    border: none;
    padding: 15px 6px;
    border-radius: 6px;
    display: inline-block;
}

/* Quando o mouse estiver em cima */
.topnav a:hover {
    background-color: #82181a;
}

/* Resposividade da barra de navegação */
@media (max-width: 600px) { /* Quando ele vai ativar  */
    .menu {
      display: none;
      position: absolute;
      right: 0;
      top: 40px;
      background: #444;
      flex-direction: column;
      padding: 5px;
      border-radius: 6px;
      width:100px;
      box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }
    .menu.show {
      display: flex;
    }
    .menu-toggle {
      display: block;
    }
}