/* Layout geral */
.fichaSuperior,
.fichaInferior {
  display: flex;
  gap: 20px;
  margin: 20px;
  flex-wrap: wrap;
}

.fichaSuperior > div:not(.ficha),
.fichaInferior > div {
  flex: 1;
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

/* Inputs, Textareas e Selects maiores */
.input,
input[type="text"],
textarea,
select {
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-top: 6px;
  resize: vertical;
  width: 100%;
  box-sizing: border-box;
}

/* Campo de ficha com grid para os 10 inputs */
.ficha {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  flex: 100%;
}

/* Ajusta textareas para ficarem mais altos */
textarea.input {
  min-height: 200px;
}

/* Responsividade */
@media (max-width: 400px) {
  .fichaSuperior,
  .fichaInferior {
    flex-direction: column;
  }

  .ficha {
    grid-template-columns: 1fr;
  }
}

label {
    color: aliceblue;
    size: 12px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}