/* Layout do card */
.card {
  display: flex;
  gap: 20px;
  align-items: center;
  background-color: #a04d4e;
  border-radius: 6px;
  padding: 10px;
  color: white;
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Layout da imagem */
.imagem {
  background-color: #dc3545;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 12px;
  color: white;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Layout das inofrmações */
.informacoes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1; /* ocupa o restante do espaço */
}

/* Layout do campo dos inputs */
.campo {
  display: flex;
  flex-direction: column;
}

/* Layout dos inputs */
.input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #ccc;
  color: black;
  min-height: 30px;
}

/* Alinha o checkbox à direita */
.checkbox-container {
  margin-left: auto; /* empurra o checkbox para a direita */
  display: flex;
  align-items: center; /* centraliza verticalmente */
  height: 100%; /* garante alinhamento com o container */
}

/* Responcividade de card */
@media (max-width: 600px) { /* Ativa depois de determinado tamanho */
  .input-text {
    width: 100%;
  }
}
