

.header {
    width: 100;
    text-align: center;
    background: black;
}

img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

.corpo {
    padding: 20px;
}

.corpo h1 {
    font-size: 70px;
    text-align: center;
    color: #981C1E;
    margin-bottom: 10px;
}

.corpo p {
    font-size: 30px;
    color: #FFFBFB;
}
