.card {
  background-color: #a04d4e;
  overflow: hidden;
  margin: 20px;
  padding: 10px;
  color: white;
}

.flex-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.fakeimg {
  background-color: #aaa;
  width: 100px;
  height: 100px;
  text-align: center;
  color: black;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1; /* ocupa o restante do espaço */
}

.inputs {
  display: flex;
  flex-direction: column;
}

.input-text {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Alinha o checkbox à direita */
.checkbox-container {
  margin-left: auto; /* empurra o checkbox para a direita */
  display: flex;
  align-items: center; /* centraliza verticalmente */
  height: 100%; /* garante alinhamento com o container */
}

@media (max-width: 600px) {
  .input-text {
    width: 100%;
  }
}
